@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* Custom CSS */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #25282B;
    font-size: 18px;
}
header {
    margin-bottom: 54px;
}
header > div {
    padding: 12px 0;
}
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
nav > a {
    margin-right: 48px;
}
nav > a:last-child {
    margin-right: 0;
}
.hero-details {
    width: 406px;
}
.hero-img {
    width: 786px;
    height: auto;
}